<html>
    <head>
        
        <style>
            body {
                background:green;
            }
        </style>    
        <meta charset="utf-8">
        <title>The NoteApp</title>
        <meta name="viewport" content="width = device-width, initial-scale=1">
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
        <link type="text/css" rel="stylesheet" herf="/css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Welcome to The NoteApp</h1>
            </div>    
        </div>
        <div>

        </div>
        <%- body %>
    </body>
</html>